[build-system]
requires = [
    "setuptools>=45",
    "wheel",
    "setuptools_scm[toml]>=6.0",
]

[tool.setuptools_scm]
write_to = "src/raman_fitting/_version.py"
local_scheme = 'dirty-tag'
fallback_version = '0.6.18'
#"write_to": "src/raman_fitting/_version.py"
