include *.txt
include *.md
include *.cfg
include *.pkl

recursive-include ./raman_fitting/*

include raman_fitting/datafiles/example_files/*.txt


include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
