include *.txt
include *.md
include *.cfg
include *.pkl
recursive-include ./raman_fitting/*

include raman_fitting/datafiles/*.txt
#include regression_model/datasets/test.csv
#include regression_model/trained_models/*.pkl
include ramnan_files/VERSION

include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]